# API
VITE_BACKEND_URL=http://localhost:5005

# Google OAuth (get from https://console.cloud.google.com)
VITE_GOOGLE_CLIENT_ID=533612480197-svju900ug8evclndu1i7o4di119egh99.apps.googleusercontent.com
